<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <h1>Please enter all the profiles available in your organisation!</h1>
    <form action="/job_provider_profiles" method="POST">
        <div class="form-group">

        <label for="org_name">Enter organisation name</label>
        <input type="text" name="org_name" id="org_name"><br/>

        <label for="job_profile">Enter job_profile</label>
        <input type="text" name="job_profile" id="job_profile"><br/>

        <label for="vacancies">Enter the number of vacancies</label>
        <input type="number" name="vacancies" id="vacancies" placeholder="Enter the number of vacancies"><br />

        <label for="profile_compensation">Enter the profile compensation (in rupees)</label>
        <input type="number" name="profile_compensation" id="profile_compensation"><br />

        <label for="profile_location">Enter the profile location</label>
        <input type="text" name="profile_location" id="profile_location"><br />
 
        <label for="brief_overview_of_profile">Enter the brief overview of profile</label>
        <input type="text" name="brief_overview_of_profile" id="brief_overview_of_profile"><br />
        
        <label for="req_tenth">Should the candidate be 10th pass?</label><br />
       
        <input type="radio" name="req_tenth" id="req_tenth" value="yes">Yes<br />
        <input type="radio" name="req_tenth" id="req_tenth" value="no">No<br />

        <label for="req_twelfth">Should the candidate be 12th pass?</label><br />
        
        <input type="radio" name="req_twelfth" id="req_twelfth" value="yes">Yes<br />
        <input type="radio" name="req_twelfth" id="req_twelfth" value="no">No<br />

        <label for="req_graduation_degree">Entire the required graduation degree(if any)<br /></label>
        
        <select name="req_graduation_degree" id="req_graduation_degree">
            <option value="B. Tech" selected>B. Tech</option>
            <option value="BBA">BBA</option>
            <option value="B. Sc">B. Sc</option>
            <option value="MBBS">M.B.B.S.</option>
            <option value="B. Com">B. Com</option>
            <option value="B. Arch">B. Arch</option>
            <option value="other">Others</option>
            <option value="none">None</option>
        </select><br />
               
        <label for="req_post_graduation_degree">Entire the required post graduation degree(if any)<br /></label>
        
        <select name="req_post_graduation_degree" id="req_post_graduation_degree">
            <option value="M. Tech" selected>M. Tech</option>
            <option value="MBA">MBA</option>
            <option value="M. Sc">M. Sc</option>
            <option value="MD">M.D.</option>
            <option value="M. Com">M. Com</option>
            <option value="M. Arch">M. Arch</option>
            <option value="other">Others</option>
            <option value="none">None</option>
        </select><br />
        
        <!-- Entire the required badge(if any)<br/>  
        
        Gold Badges : <br />
        <select name="dropdown">
            <option value="Embroidery" selected>Embroidery</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
            <option value="Java">Java</option>
            <option value="Accounts">Accounts</option>
            <option value="Finance">Finance</option>
            <option value="other">Others</option>
            <option value="none">None</option>
        </select><br />

        Silver Badges : <br />
        <select name="dropdown">
            <option value="Embroidery" selected>Embroidery</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
            <option value="Java">Java</option>
            <option value="Accounts">Accounts</option>
            <option value="Finance">Finance</option>
            <option value="other">Others</option>
            <option value="none">None</option>
        </select><br />

        Bronze Badges : <br />
        <select name="dropdown">
            <option value="Embroidery" selected>Embroidery</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
            <option value="Java">Java</option>
            <option value="Accounts">Accounts</option>
            <option value="Finance">Finance</option>
            <option value="other">Others</option>
            <option value="none">None</option>
        </select><br /> -->

        <input type="submit" name="submit" value="Submit" />
        </div>
    </form>

</body>
</html>