<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrepreneur Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <h1>Register as an Entrepreneur Today!</h1>
    <form action="/entrepreneurs" method="POST">
        <div class="form-group">   
        <label for="name">Enter full name</label>
        <input type="text" name="name" id="name"><br />

        <label for="phoneNo">Enter mobile number</label>
        <input type="number" name="phoneNo" id="phoneNo"><br />

        <label for="email">Enter email address (abc@example.com)</label>
        <input type="email" name="email" id="email"><br />

        <label for="password">Enter password</label>
        <input type="password" name="password" id="password"><br />

        <label for="venture_name">Enter the name of your venture/organisation/product</label>
        <input type="text" name="venture_name" id="venture_name"><br />

        <label for="team_leader">Enter the team leader's full name</label>
        <input type="text" name="team_leader" id="team_leader"><br />

        <label for="brief_idea_overview">Brief Idea Overview : </label><br />
        <textarea rows="5" cols="50" name="brief_idea_overview" id="brief_idea_overview">
        </textarea><br />

        <label for="funding_required">Enter in rupees the funding required by your organisation</label>
        <input type="number" name="funding_required" id="funding_required"><br />

        <label for="category">Enter a category for your venture</label><br />
        <select name="category" id="category">
            <option value="science and technology" selected>Science and Technology</option>
            <option value="arts">Arts</option>
            <option value="social entrepreneurship">Social Entrepreneurship</option>
            <option value="women empowerment">Women Empowerment</option>
            <option value="education">Education</option>
            <option value="health sector">Health and Wellness</option>
            <option value="safety">Safety</option>
            <option value="other">Others</option>
        </select><br />

        <label for="start_date_of_venture">Enter the starting date of your venture</label>
        <input type="date" name="start_date_of_venture" id="start_date_of_venture"><br />

        <label for="current_number_of_employees">Enter the current no. of employees in your venture</label>
        <input type="number" name="current_number_of_employees" id="current_number_of_employees"><br />

        <label for="working_location">"Enter your working location</label>
        <input type="text" name="working_location" id="working_location"><br />

        <label for="idea_phase">Is your project currently in the ideation phase?</label><br />
        <input type="radio" name="idea_phase" id="idea_phase" value="yes">Yes<br />
        <input type="radio" name="idea_phase" id="idea_phase" value="no">No<br />

        <label for="current_annual_turnover">Enter the current annual turnover (in rupees) of your venture (Enter 0 if still in ideation phase)</label>
        <input type="number" name="current_annual_turnover" id="current_annual_turnover"><br />

        <label for="job_provider">Are you also a job provider</label><br />
        <input type="radio" name="job_provider" id="job_provider" value="yes">Yes<br />
        <input type="radio" name="job_provider" id="job_provider" value="no">No<br />
        
        <input type="submit" name="submit" value="Submit" />
        </div>
    </form>

</body>

</html>