<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>

<body>
    <h1>Register as a Job Provider Today!</h1>
    <form action="/job_providers" method="POST">
        <input type="text" name="org_name" id="org_name" placeholder="Enter organisation name"><br/>
        <input type="text" name="name" id="name" placeholder="Enter full name"><br/>
        <input type="number" name="phone" id="phone" placeholder="Enter mobile number"><br />
        <input type="email" name="email" id="email" placeholder="Enter email address"><br />
        <input type="password" name="password" id="password" placeholder="Enter password"><br />
 
        <input type="text" name="vacancies" id="vacancies" placeholder="Enter the number of vacancies in your organisation"><br />
        <input type="text" name="job_profiles" id="job_profiles" placeholder="Enter the job_profiles available in your organisation"><br />
        <input type="number" name="total_compensation" id="total_compensation" placeholder="Enter the total compensation going to be offered by your organisation"><br />
        </textarea><br />
        <input type="submit" name="submit" value="Submit" />
    </form>

</body>
</html>